# Pandas 字符串简单操作

In [1]:
import pandas as pd
import numpy as np
s = pd.Series(['A','b','B','gaer','AGER',np.nan])
s

0       A
1       b
2       B
3    gaer
4    AGER
5     NaN
dtype: object

In [3]:
#小写转换
s.str.lower()
#s.str.upper()  转化为大写

0       a
1       b
2       b
3    gaer
4    ager
5     NaN
dtype: object

In [4]:
#计算当前字符串长度
s.str.len()

0    1.0
1    1.0
2    1.0
3    4.0
4    4.0
5    NaN
dtype: float64

### 字符串去掉空格

In [5]:
index = pd.Index(['  Ge','  Meng   ','LOMO'])
index

Index(['  Ge', '  Meng   ', 'LOMO'], dtype='object')

In [7]:
# 去掉字符串里面的空格
index.str.strip()

Index(['Ge', 'Meng', 'LOMO'], dtype='object')

In [8]:
# 去左边的空格
index.str.lstrip()
#index.str.rstrip()  去右边

Index(['Ge', 'Meng   ', 'LOMO'], dtype='object')

### 操作字符串列名
* df.columns.str.replace()

In [11]:
df = pd.DataFrame(np.random.randn(3,2),columns = ['A a','B b'],index = range(3))
df

        A a       B b
0  0.170355  0.217510
1 -0.136697 -0.846561
2  0.812243  0.258397

In [12]:
df.columns = df.columns.str.replace(' ','_')
df

        A_a       B_b
0  0.170355  0.217510
1 -0.136697 -0.846561
2  0.812243  0.258397

### 切分
* .str,split()

In [13]:
s = pd.Series(['a_b_C','c_d_e','f_g_h'])
s

0    a_b_C
1    c_d_e
2    f_g_h
dtype: object

In [14]:
s.str.split('_')

0    [a, b, C]
1    [c, d, e]
2    [f, g, h]
dtype: object

In [16]:
# expand = True 扩充为DataFrame
s.str.split('_',expand = True)

   0  1  2
0  a  b  C
1  c  d  e
2  f  g  h

In [17]:
#切分的时候加入限制 n=1只切一次
s.str.split('_',expand = True,n=1)

   0    1
0  a  b_C
1  c  d_e
2  f  g_h

### 判断是否包含某些字符串
* .str.contains()

In [18]:
s = pd.Series(['A','Aas','Afgew','Ager','Agre','Ager'])
s

0        A
1      Aas
2    Afgew
3     Ager
4     Agre
5     Ager
dtype: object

In [19]:
s.str.contains('Aas')

0    False
1     True
2    False
3    False
4    False
5    False
dtype: bool

In [20]:
s.str.contains('Ag')

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

* get_dummies()

In [21]:
s = pd.Series(['a','a|b','a|c'])
s

0      a
1    a|b
2    a|c
dtype: object

In [22]:
s.str.get_dummies(sep = '|')

   a  b  c
0  1  0  0
1  1  1  0
2  1  0  1